html,
body {
  width: 100%;
  height: 100%;
  background: #f4f5fc;
  font-family: 'Montserrat', sans-serif;

  /* font-family: 'Muli', sans-serif; */
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.container {
  max-width: 1280px;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}
